.orange-btn {
	color: white;
	padding: 10px;
	border-radius: 4px;
	background-color: rgb(226, 149, 6);
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}

.orange-btn:hover {
	color: white;
	padding: 10px;
	border-radius: 4px;
	background-color: rgb(175, 105, 20);
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}
